config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = false
lombok.log.fieldName = log

lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.setter.flagUsage = error
lombok.equalsAndHashCode.flagUsage = error
lombok.allArgsConstructor.flagUsage = error
lombok.noArgsConstructor.flagUsage = error
lombok.sneakyThrows.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.synchronized.flagUsage = error
lombok.nonNull.flagUsage = error
lombok.val.flagUsage = error
lombok.var.flagUsage = error
lombok.experimental.flagUsage = error
